<div class="row">
    <div class="col-12">
        <mat-card>
            <ng-container *ngIf="tableData$ | async">
                <div class="data-table table-listing" style="overflow: auto;">
                    <table>
                        <thead>
                            <tr>
                                <ng-container *ngFor="let th of (tableHeads$ | async); let i = index">
                                    <th [ngClass]="{ 'sort' : th.canSort }" (click)="onHandleSortOrder(th.canSort, th.key, order.direction === 'desc' ? 'asc' : 'desc')">
                                        <div class="d-flex justify-content-between">
                                            <span>{{ th.label }}</span>
                                            <ng-container *ngIf="th.canSort">
                                                <mat-icon *ngIf="order.column !== th.key">import_export</mat-icon>
                                                <ng-container *ngIf="order.column === th.key">
                                                    <mat-icon *ngIf="order.direction === 'asc'" class="fs-16 lh-16 w-16 h-16">north</mat-icon>
                                                    <mat-icon *ngIf="order.direction === 'desc'" class="fs-16 lh-16 w-16 h-16">south</mat-icon>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of (tableData$ | async); let i = index">
                                <ng-container *ngFor="let th of (tableHeads$ | async)">
                                    <td *ngIf="item[th.parentObject]">
                                        <ng-container *ngIf="!th.pipe">
                                            {{ item[th.parentObject][th.key] }}
                                        </ng-container>
                                    </td>
                                    <td *ngIf="item[th.key]">
                                        <ng-container *ngIf="!th.pipe">
                                            {{ item[th.key] }}
                                        </ng-container>
                                        <ng-container *ngIf="th.pipe">
                                            <ng-container *ngIf="th.pipe === 'date'">
                                                {{ item[th.key] | date: th.pipeFormat }}
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                    <td *ngIf="th.key === 'actions'">
                                        <button *ngIf="th.canView" mat-icon-button (click)="onHandleView(item)" color="primary">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <button *ngIf="th.canEdit" mat-icon-button (click)="onHandleEdit(item)" color="primary">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="th.canArchive" mat-icon-button color="accent">
                                            <mat-icon>inventory_2</mat-icon>
                                        </button>
                                        <button *ngIf="th.canDownload" mat-icon-button color="primary" (click)="onHandleDownload(item)">
                                            <mat-icon>download</mat-icon>
                                        </button>
                                        <button *ngIf="th.canDelete" mat-icon-button color="warn" (click)="onHandleDelete(item)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <ng-container *ngFor="let th of (tableHeads$ | async); let i = index">
                                    <th [ngClass]="{ 'sort' : th.canSort }" (click)="onHandleSortOrder(th.canSort, th.key, order.direction === 'desc' ? 'asc' : 'desc')">
                                        <div class="d-flex justify-content-between">
                                            <span>{{ th.label }}</span>
                                            <ng-container *ngIf="th.canSort">
                                                <mat-icon *ngIf="order.column !== th.key">import_export</mat-icon>
                                                <ng-container *ngIf="order.column === th.key">
                                                    <mat-icon *ngIf="order.direction === 'asc'" class="fs-16 lh-16 w-16 h-16">north</mat-icon>
                                                    <mat-icon *ngIf="order.direction === 'desc'" class="fs-16 lh-16 w-16 h-16">south</mat-icon>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </th>
                                </ng-container>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row mt-16">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label class="mr-16 ml-16" htmlFor="show">Show</label>
                            <mat-form-field>
                                <mat-select [formControl]="limit" (selectionChange)="onHandleChangeLimit($event)" [disabled]="total < 10">
                                    <mat-option *ngFor="let limit of limits" [value]="limit.value">{{ limit.label }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <label class="ml-16" htmlFor="total">of {{ total | number }} entries</label>
                        </div>
                        <mat-paginator
                            [length]="total"
                            [pageSize]="limit.value"
                            [hidePageSize]="true"
                            [showFirstLastButtons]="true"
                            (page)="onHandleGoToPage($event)"
                            [pageIndex]="currentPage - 1"
                            >
                        </mat-paginator>
                    </div>
                </div>
            </ng-container>
        </mat-card>
    </div>
</div>