.breadcrumb {
    .custom-bread-crumb {
        background-color: unset !important;
        padding: unset !important;
        margin: unset !important;
        span {
            li {
                a,
                span {
                    font-size: 14px;
                    line-height: 1.428571429;
                }
            }
        }
    }
}