<div class="row">
    <div class="col-12">
        <h2>Task Status</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <canvas baseChart
                [type]="'pie'"
                [datasets]="datasets"
                [labels]="labels"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
</div>