<section class="p-16">
    <div class="row mb-16">
        <div class="col-12">
            <xng-breadcrumb></xng-breadcrumb>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mb-16">
            <mat-card class="p-16">
                <app-status></app-status>
            </mat-card>
        </div>
        <div class="col-8 mb-16">
            <mat-card class="p-16">
                <app-top-performers></app-top-performers>
            </mat-card>
        </div>
        <div class="col-12 mb-16">
            <mat-card class="p-16">
                <app-performance-per-month></app-performance-per-month>
            </mat-card>
        </div>
    </div>
</section>